body {
  font-family: "Arial", sans-serif;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 20px;
  color: #999999;
  margin: 0 auto;
}

/* R:255
G:252
B:238 */
