@font-face {
  font-family: 'LINE Seed JP';
  src: url('../fonts/WOFF2/LINESeedJP_OTF_Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'LINE Seed JP', 'Quicksand', sans-serif;
  background-color: fffcee;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'LINE Seed JP', 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #999999;
  margin: 0 auto;
}

/* R:255
G:252
B:238 */
