body {
  font-family: "Arial", sans-serif;
  background-color: blanchedalmond;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  height: 100vh;
  margin: 0;
}
