@font-face {
  font-family: 'LINE Seed JP';
  src: url('../fonts/WOFF2/LINESeedJP_OTF_Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'LINE Seed JP', 'Quicksand', sans-serif;
}

.imageGallery {
  position: relative;
  margin: 0;
}

.alice-carousel__dots {
  margin: 3px 5px !important;
}

.prevAndNextButtonArea {
  display: flex;
  justify-content: "space-between";
  width: 100%;
  margin-top: 0px;
}

.prevAndNextButton {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  border: none;
  border-radius: 5px;
  flex: 1;
}

.galleryItems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.prevButton {
  margin-right: 150px;
}

.nextButton {
}
