@font-face {
  font-family: 'LINE Seed JP';
  src: url('../fonts/WOFF2/LINESeedJP_OTF_Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fffcee;
  font-family: "LINE Seed JP", Quicksand, "Noto Sans JP", "Noto Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "LINE Seed JP", Quicksand, "Noto Sans JP", "Noto Sans";
}
