@font-face {
  font-family: 'LINE Seed JP';
  src: url('../fonts/WOFF2/LINESeedJP_OTF_Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "LINE Seed JP", Quicksand, "Noto Sans JP", "Noto Sans";
}

.button-deco{
  font-family: 'LINE Seed JP', 'Quicksand', sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 99.5px;
  height: 32px;
  background: #6aaade;
  border: 1px solid #6aaade;
  border-radius: 8px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 1;
}