.set-calendar1 {
  margin-top: 0px;
  top: 49%;
  position: absolute;
  width: fit-content;
  /* padding: 12px 16px; */
  background-color: #fffcee;
}

.calendar-design {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 36px;
}

input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 200px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
}

.selectDateMain {
  text-align: center;
  width: 90vw;
  overflow-x: hidden;
  min-width: 300px;
  max-width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  position: relative;
}

.chat-container {
  position: absolute;
  top: 10%;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  min-height: 10%;
  padding: 2%;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 10px 9px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-content {
  height: 100%;
}

.chat-main {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}

.chat-secondary {
  font-size: 14px;
  color: #555;
  text-align: center;
  margin: 10px auto 0;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

.character-image {
  height: 20%;
  margin-bottom: 20px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
}

.button-next {
  position: absolute;
  bottom: 4%;
  left: 2.5%;
  width: 95%;
  padding: 12px;
  background-color: #f39867;
  color: white;
  border: 2px solid #e87e4d;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.1s, box-shadow 0.1s, background-color 0.1s;
}

.button-next:active {
  background-color: #e87e4d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.15);
  transform: translateY(4px);
}

.button-next:disabled {
  background-color: #d3d3d3;
  border: 2px solid #666666;
  cursor: not-allowed;
}
