/* 基本的なレイアウト */
.profile_info {
  font-family: "Arial", sans-serif;
  background-color: rgb(124, 114, 84);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* .details {
  text-align: center;
  margin-bottom: 20px;
} */

.profile_details {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgb(146, 129, 101); /* Dark green background */
  border-radius: 8px; /* Rounded corners */
  color: black; /* White text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  border: 1px solid #2d3e2f; /* Border matching the overall theme */
}

/* プロフィール情報 */
/* .profile-info {
  text-align: center;
  /* margin-bottom: 20px;
} */
*/ .greeting {
  font-size: 24px;
  font-weight: bold;
}

.details {
  font-size: 18px;
  color: #555;
}

.activity-box {
  width: 80%;
  max-width: 600px;
  background-color: rgb(106, 170, 222);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 20px;
}

/* R:201
G:232
B:248 */
/* R:106
G:170
B:222 */

.activity-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.activity-details {
  font-size: 16px;
  color: white;
}

.activity-details p {
  margin: 10px 0;
}

.set-calendar {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;
  isolation: isolate;

  margin: 0 auto;
  width: 337px;
  height: 40px;
  left: 33px;
  top: 165px;

  background: #ffffff;
  border: 1px solid #d9d9d9;
  /* Drop Shadow/200 */
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1),
    0px 1px 4px rgba(12, 12, 13, 0.05);
  border-radius: 8px;
}
