/* 基本的なレイアウト */
.profile_info {
  font-family: "Quicksand";
  background-color: rgb(124, 114, 84);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* .details {
  text-align: center;
  margin-bottom: 20px;
} */

.profile_details {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgb(146, 129, 101); /* Dark green background */
  border-radius: 8px; /* Rounded corners */
  color: black; /* White text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  border: 1px solid #2d3e2f; /* Border matching the overall theme */
}

/* プロフィール情報 */
/* .profile-info {
  text-align: center;
  /* margin-bottom: 20px;
} */
*/ .greeting {
  font-size: 24px;
  font-weight: bold;
}

.details {
  font-size: 18px;
  color: #555;
}

.lesson-box {
  width: 80%;
  max-width: 600px;
  background: linear-gradient(#f39867, #6aaade);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 20px;
}

/* R:201
G:232
B:248 */
/* R:106
G:170
B:222 */

.lesson-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.lesson-details {
  font-size: 16px;
  color: white;
}

.lesson-details p {
  margin: 10px 0;
}

.set-calendar {
  position: relative;
  width: fit-content;
  padding: 12px 16px;
  border-bottom: 2px solid #333333;
  background-color: #fffcee;
}
.set-calendar::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  background-color: #fffcee;
  /* 背景色と同じ色を指定 */
  rotate: 135deg;
  translate: -50%;
}
.set-calendar::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  z-index: -1;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 2px solid;
  border-color: #333333 #333333 transparent transparent;
  background-color: #ffffff;
  rotate: 135deg;
  translate: -50%;
}

.calendar-design {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 200px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
}

#container {
  position: relative;
  perspective: 1000px;
  width: 350px;
  margin: auto;
  font-family: Helvetica, Arial;
}

h1 {
  animation: fade 7s infinite;
  position: relative;
  color: #ccc;
  text-align: center;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#card {
  position: absolute;
  top: 100px;
  animation: cardrotate 5s ease-in-out infinite;
  width: 350px;
  height: 200px;
  color: #fff;
  border-radius: 10px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #00b7ea;
  background: -moz-linear-gradient(left, #00b7ea 0%, #00c695 100%);
  background: -webkit-linear-gradient(left, #00b7ea 0%, #00c695 100%);
  background: linear-gradient(to right, #00b7ea 0%, #00c695 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#00c695', GradientType=1);
  border-radius: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

#card figure h2,
#card figure p {
  margin: 20px;
}

.front {
  background: red;
}

.back {
  background: yellow;
  z-index: 2000;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@keyframes cardrotate {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -200px;
  }
  10% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 70px;
  }
  30% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  90% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    top: 70px;
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    top: 100vh;
  }
}
